@use '../global.scss' as *;

#header {
  @include flex(row, space-between, center);
  width: 100%;
  padding: 1rem;

  .user-container {
    @include flex(row, center, center);
    gap: .2rem;
    border-radius: .3rem;

    .user-icon {
      margin-right: .5rem;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }

    #user-name {
      font-size: $font-size-small;
    }
  }  

  .utility-container {
    @include flex(row, center, center);
    gap: .5rem;

    .search-container {
      @include flex(row, center, center);
      background-color: white;
      
      height: auto;
      border-radius: .3rem;
      padding: .3rem;
  
      #search-bar {
        border:none;
        padding: .3rem;
      }
  
      #search-bar:focus {
        outline: none;
      }
  
      .search-btn:hover {
        cursor: pointer;
      }
    }

    .settings-container {

      .settings-cog {
        cursor: pointer;
      }

      .settings-cog:hover {
        color: $primary-color;
      }

      .settings-dropdown {
        display: none;
        position: absolute;
        background-color: white;
        border-radius: .3rem;
        padding: .5rem;
        z-index: 1;
        top: 3rem;
        right: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
      }

      .settings-dropdown.active {
        display: block;
        padding: .5rem;
        color: black;
        text-decoration: none;
      }
    }
  }
}