@use '../global.scss' as *;

#header {
  @include flex(row, space-between, center);
  width: 100%;
  padding: 1rem;

  .user-container {
    @include flex(row, center, center);
    gap: .2rem;
    border-radius: .3rem;

    .user-icon {
      margin-right: .5rem;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }

    #user-name {
      font-size: $font-size-small;
    }
  }  
  .search-container {
    @include flex(row, center, center);
    background-color: white;
    
    height: auto;
    border-radius: .3rem;
    padding: .3rem;

    #search-bar {
      border:none;
      padding: .3rem;
    }
  }
}